<header>
  <%- include("./nav") %>
  <div>
    <img src="/pictures/logo2.png" alt="logo DinoPark" />
    <div>
      <a href="/booking/all-bookings" class="menubutton" >Réservation</a>
      <a href="/" class="menubutton">Administrateur</a>
    </div>
  </div>
  <div>
    <!--image bannière à intégrer au background en SCSS.-->
    <p>Venez vous immerger dans le monde des Dinos.</p>
    <p>Une expérience unique !</p>
  </div>
</header>

