<header>
  <%- include("./nav") %>
  <div>
    <img src="/pictures/logo2.png" alt="logo DinoPark" />
    <div>
      <button>Réservation</button>
      <button>Administrateur</button>
    </div>
  </div>
  <div>
    <!--image bannière à intégrer au background en SCSS.-->
    <p>Venez vous immerger dans le monde des Dinos.</p>
    <p>Une expérience unique !</p>
  </div>
</header>
