<%- include("../partials/head", { title: "DinoPark" }) %> <%-
include("../partials/header") %>


<main>
    <h2>Confirmation de votre réservation</h2>
    <p></p>

    <div>
    <p>Récap de votre réservation :</p>
    <p>Date de votre visite :</p>
    <p>Quantité et types de tickets réservés :</p>
    </div>

    <p>Montant Total TTC de la commande : <strong id="totalAmount">--€--</strong></p>

        <a href="/booking/all-bookings" class="menubutton">Faire une nouvelle réservation</a>
    <a href="/" class="menubutton">Retour à l'accueil</a>
</main>


<%- include("../partials/footer") %>
