//page de présentation des Dinos
<%- include("../partials/head", { title: "DinoPark" }) %> <%-
include("../partials/header") %>

<main>
<container class="dinocontainer">
    <img src="/public/pictures/" alt="image du dino ">
    <img src="/public/pictures/" alt="image du dino ">
    <img src="/public/pictures/" alt="image du dino ">
    <img src="/public/pictures/" alt="image du dino ">
    <img src="/public/pictures/" alt="image du dino ">
    <img src="/public/pictures/" alt="image du dino ">
</container>

<a href="/" class="menubutton">Retour à l'accueil</a>
</main>

<%- include("../partials/footer") %>