<%- include("../partials/head", { title: "DinoPark" }) %> <%-
include("../partials/header") %>

<main>
  <h1>LES DINOS DU PARC</h1>
  <div>image Dinos => boutton</div>

  <div>
    <img src="/pictures/mapsite.jpg" alt="map localisation" />
    <h2>Comment venir à DinoPark ?</h2>
    <p>63 avenue de la Faye, 85270 Saint Hilaire de Riez</p>
  </div>
</main>

<%- include("../partials/footer") %>
